<!DOCTYPE html>

<html>
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'jquery/jquery-ui.css' %}" />
    <script language="JavaScript" type="text/javascript" src="{% static 'jquery/jquery.js' %}"></script>
    <script language="JavaScript" type="text/javascript" src="{% static 'jquery/jquery-ui.js' %}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js"></script>

</head>

<body>
    <style>
        body{
            background-color: {{ personalPage.css.colordefondo }};
            font-size: {{ personalPage.css.tamanioletra }}
        }
        #banner, #leftcontainer, #middlecontainer, #rightcontainer{
            border: {{ personalPage.css.grosormarcos }} solid {{ personalPage.css.colormarcos }};
        }
    </style>

		<div id="contenedor">

        <div id="banner">
            {% load staticfiles %}
            <img class="banner" src="{% static "images/cloud_banner.jpg" %}" alt="banner_image"/>
        </div>

        <div id=auth-content>
            {% block auth-options %}
            {% endblock %}
            <div id="auth-formularios">
                {% block content %}
                {% endblock %}
            </div>
        </div>

  			<ul id="menu">
            <li><a href="/">Inicio</a></li>
            {% block userPageLabel %}
            {% endblock %}
            <li><a href="alojamientos">Alojamientos disponibles</a></li>
            <li><a href="about">About</a></li>
  			</ul>

        <div id=leftcontainer>
            {% block leftcontent %}
            {% endblock %}
        </div>

        <div id=middlecontainer>
            {% block midcontent %}
            {% endblock %}
        </div>

        <div id=rightcontainer>
            {% block rightcontainer %}
            {% endblock %}
        </div>

  			<div class="navbar navbar-default navbar-fixed-bottom">
            <div class="container">
                <p class="navbar-text pull-left">© 2016 - Site Built By Daniel Rodríguez.</p>
                <p class="navbar-text pull-left">“Esta aplicación utiliza datos del portal de datos abiertos de la ciudad de Madrid”</p>

                <a href="XMLlinks" class="navbar-btn btn-danger btn pull-right">
                <span class="glyphicon glyphicon-pushpin"></span>  See information XML links</a>
            </div>
        </div>

    </div>
</body>
</html>
