{% extends "index.html" %}

{% block auth-options %}
    <div id="auth-options">
        {% if user %}
            <a href="/accounts/logout/" class="button">Logout</a>
        {% else %}
            <a href="/accounts/register/" class="button">Registrate</a>
            <a href="/accounts/login/" class="button">Login</a>
        {% endif %}
    </div>
{% endblock %}

{% block userPageLabel %}
    {% if user %}
        <li><a href="/{{ user }}">Pagina de usuario</a></li>
    {% endif %}
{% endblock %}

{% block midcontent %}
    <style>
        body{
            background-color: {{ personalPage.css.colordefondo }};
            font-size: {{ personalPage.css.tamanioletra }}
        }
        #middlecontainer, #rightcontainer, a .button{
            border: {{ personalPage.css.grosormarcos }} solid {{ personalPage.css.colormarcos }};
        }
    </style>
    <div id="central">
        <div id="hotelcontainer">
            <h3 class="hotel">Estos son los 10 hoteles con comentarios con mas comentarios</h3>
            {% for thatHotel in listaHoteles %}
                <h3 style="text-decoration: underline" class="hotel">{{thatHotel.nombreHotel}}</h3>
                <h4 class="direccion">Direccion: {{thatHotel.direccion}}</h4>
                <div class="item">
                    <img src="{{thatHotel.firstFoto}}" alt="NO HAY FOTO">
                </div>
                <h5 class="web">WEB: <a href="{{thatHotel.webUrl}}">{{thatHotel.webUrl}}</a></h5>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block rightcontainer %}
    <div id="paginasPersonales">
        <h4>Estas son las paginas personales de cada usuario</h4>
        {% for elemento in personalPages %}
            <li><a href="/{{ elemento.user }}">{{ elemento.tittlePage }}</a></li>
        {% endfor %}
    </div>
{% endblock %}
