Descripcion:
http://bit.ly/1T24Zsq
Fichero XML con los datos (en espanol):
http://www.esmadrid.com/opendata/alojamientos_v1_es.xml
http://cursosweb.github.io/etc/alojamientos_es.xml
Fichero XML con los datos (en ingles):
http://www.esmadrid.com/opendata/alojamientos_v1_en.xml
http://cursosweb.github.io/etc/alojamientos_en.xml
Fichero XML con los datos (en frances):
http://www.esmadrid.com/opendata/alojamientos_v1_fr.xml
http://cursosweb.github.io/etc/alojamientos_fr.xml
Hay ficheros XML con los datos en otros idiomas
