body {
    background: #ccffff;
}

#contenedor, #banner, #auth-content, #auth-options, #auth-formularios, #menu, #leftcontainer, #middlecontainer{
    border: 2px solid #777;
}

#contenedor {
  width: 95%;
  margin: 0 auto;
}

#banner{
  margin-top: 1.4em;
}

#banner {
  float: left;
  width: 50%;
}

img.banner{
   max-width:100%;
   max-height:100%;
   border: 5px solid #333300;
   border-radius: 0.3em;
}

#auth-content{
  float: right;
  width: 30%;
  margin-top: 5em;
}

#auth-options, #auth-formularios{
    margin: 2em;
}

.button {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
    width: 6em;
    margin: 0.3em;
    border-radius: 0.3em;
    background: #C0C0C0;
    border: 2.5px solid #333300;
}

.button:hover {
    background-color: orange;
}

#menu {
    clear: left;
    position: relative;
    top: 1.4em;
}

ul#menu {
    padding: 0;
}

ul#menu li {
    display: inline;
}

ul#menu li a {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 30px 5px 30px 5px;
}

#leftcontainer {
    width: 20%;
}

#leftcontainer h4 {
    font-weight: bold;
    text-decoration: underline;
}

#middlecontainer {
    width: 50%;
}

#leftcontainer, #middlecontainer {
  position: relative;
  margin-top: 5em;
  float: left;
}




ul#menu li a:hover {
    background-color: orange;
}
