body {
    background-color: #e6ffff;
}

#auth-content, #auth-formularios{
    border: 2px solid #777;
}

#contenedor {
    width: 95%;
    margin: 0 auto;
}

#banner{
    margin-top: 1.4em;
}

#banner {
    float: left;
    width: 50%;
}

img.banner{
     max-width:100%;
     max-height:100%;
     border: 5px solid #333300;
     border-radius: 0.3em;
}

#auth-content{
    float: right;
    width: 30%;
    margin-top: 5em;
}

#auth-options, #auth-formularios{
    margin: 2em;
}

.button {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    padding-right: 2em;
    width: 6em;
    margin: 0.3em;
    border-radius: 0.3em;
    background: #C0C0C0;
    border: 2.5px solid #333300;
}

.button:hover {
    background-color: orange;
}

#menu {
    clear: left;
    position: relative;
    top: 1.4em;
}

ul#menu {
    padding: 0;
}

ul#menu li {
    display: inline;
}

ul#menu li a {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 30px 5px 30px 5px;
}

#leftcontainer {
    width: 18%;
}

#leftcontainer h4 {
    font-weight: bold;
    text-decoration: underline;
}

#middlecontainer {
    width: 48%;
    margin-bottom: 4em;
}

#rightcontainer {
    width: 18%;
}

#leftcontainer, #middlecontainer, #rightcontainer {
    position: relative;
    margin-top: 5em;
    margin-left: 1em;
    float: left;
}

#paginasPersonales {
    margin-left: 1.2em;
    width: 92%;
}

ul#menu li a:hover {
    background-color: orange;
}

h3.comentarios {
  text-decoration: underline;
  margin-top: 1em;
  margin-bottom: 1em;
}
